
{% extends "layout.twig" %}
{% block content %}


<!-- Header -->
{% include "includes/header.twig" %}


<div class="template-container">

    <!-- Main Zone -->
    {{widget('blogpost', 'singleblogpost', {})|raw}}

</div>


<!-- Footer -->
{% include "includes/footer.twig" %}


{% endblock %}
