
{% extends "layout.twig" %}
{% block content %}


<!-- Header -->
{% include "includes/header.twig" %}


<div class="template-container  template-container--default">

    <!-- Main Zone -->
    {{zone('main')|raw}}

</div>


<!-- Footer -->
{% include "includes/footer.twig" %}


{% endblock %}
