<footer class="template-footer">
    <div class="template-container">
        {{widget('content', 'footer-copyright', {
            content: '<p style="text-align: center;">© Copyright 2016</p>'
        })|raw}}
    </div>
</footer>
